*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

:root {
  --app-accent: #56ccf2;
}

body {
  margin: 0;
  font-family: var(--ant-font-family);
  background: var(--ant-color-bg-layout);
}
