.container {
  height: 100%;
  min-width: 0;
  min-height: 0;

  display: grid;
  grid-template-rows: 34px 1fr 10px;
  gap: 4px;
}

.title {
  align-self: center;
  justify-self: center;

  max-width: 100%;

  font-weight: 400;
  font-size: 14px;
  line-height: 16.8px;
  letter-spacing: 0;
  color: var(--ant-color-text-secondary);

  text-align: center;

  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;

  overflow: hidden;
}

.icon {
  align-self: center;
  justify-self: center;

  font-size: 36px;
  color: var(--ant-color-primary);
}

.amount {
  justify-self: end;

  font-size: 9px;
  line-height: 1;
  color: var(--ant-color-error);

  white-space: nowrap;
}

@media (max-width: 330px) {
  .title {
    font-size: 10px;
    line-height: 13.8px;
  }
}
