.container {
  height: 100vh;
  overflow: hidden;
}

.left {
  height: 100%;
  min-height: 0;
  overflow: hidden;
  background-color: white;
}

.left--desctop {
  width: 390px;
  min-width: 390px;
  max-width: 390px;

  /* padding отсюда убрать */
}

.left--mobile {
  width: 100%;
  min-width: 290px;
  max-width: 390px;
  margin: 0 auto;
  /* padding отсюда убрать */
}

.right {
  flex: 1;
  min-width: 0;
  min-height: 0;
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  border-left: 1px solid var(--ant-color-border);
}
