.container {
    height: 100vh
}

.left {
    width: 390px;
    min-width: 390px;
    max-width: 390px;
    padding-left: 4px;
    padding-right: 4px;
}

.right {
    flex: 1;
    border-left: 1px solid var(--ant-color-border);
}