.wrapper {
    display: flex;
    align-items: center;

    height: 40px;

    padding: 10px 15px;
  
  
    border: 1px solid var(--app-accent);
    border-radius: 999px;
  
    background: transparent;
  }
  
  .input {
    flex: 1;
  }