

.header__right {
    min-width: 0;
    flex-shrink: 1;
}

.header__user-container {
    min-width: 0;
    max-width: 150px
  }
  
  .header__user-container p {
    margin: 0;

    color: var(--ant-color-text-secondary);
    font-size: var(--ant-font-size-heading-4);
  
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }